*.sh text eol=lf
*.py text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

*.exe binary
*.dll binary
*.ico binary
*.png binary
*.PNG binary
*.gz binary
